body {
	background-color: #E6EBE0;
	color: #555;
	font-family: 'PT Sans', sans-serif;
}

a, a:visited, a:active, a:focus {
	color: #5CA4A9 !important;
	text-decoration: underline;
	transition: opacity 300ms;
}
a:hover {
	text-decoration: none;
	opacity: 0.8;
}

h2 {
	margin-bottom: 30px;
}

h3 {
	margin-top: 0;
}

.work {
	width: 100%;
	padding-bottom: 30px;
	overflow: hidden;
}

.work img {
	width: 100%;
}

.mail {
	display: inline-block;
	margin-bottom: 30px;
}

i.fa {
	display: inline-block;
	font-size: 3em;
}
